@import "tailwindcss" source(".");

@font-face {
  font-family: 'Overused Grotesk';
  src: url('../static/fonts/OverusedGrotesk.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../static/fonts/JetBrainsMono.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}